<!DOCTYPE html>
<html>
  <head>
    <title>PDF Information</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>PDF Storage & text extraction</h1>
      <form
        action="http://127.0.0.1:5000/documents"
        method="post"
        enctype="multipart/form-data"
      >
        <input
          type="file"
          name="file"
          accept="application/pdf"
          class="inputfile"
        />
        <br />
        <button type="submit" class="upload-button">Upload</button>
      </form>
    </div>
  </body>
</html>
