<!DOCTYPE html>
<html>
  <head>
    <title>PDF Information</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>PDF Information</h1>
      <table>
        <tr>
          <th>ID</th>
          <td>{{ pdf_id }}</td>
        </tr>
        <tr>
          <th>Size</th>
          <td>{{ pdf_size }}</td>
        </tr>
        <tr>
          <th>Text</th>
          <td>{{ pdf_text }}</td>
        </tr>
        {% for meta in pdf_meta %}
        <tr>
          <th>{{ meta[0] }}</th>
          <td>{{ meta[1] }}</td>
        </tr>

        {% endfor %}
      </table>
    </div>
  </body>
</html>
